body {
  font-family: Arial, sans-serif;
  margin: 40px;
  background-color: #f9f9f9;
}

h2 {
  color: #333;
}

form input, form button {
  padding: 8px;
  margin-top: 5px;
  width: 250px;
}

table {
  background-color: #fff;
  border-collapse: collapse;
  width: 100%;
}

th {
  background-color: #eee;
}

td, th {
  padding: 10px;
  text-align: left;
}

